// bower:scss
// endbower

$borderRadius: 8px;

body {
    font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
    color: #222;
    background-color: #e5e5e5;
    font-size: 13px;
    overflow: hidden;
}

ol {
    list-style: none;
    padding: 0px;
    li {
        word-wrap: break-word;
    }
}

.all-view {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    overflow: auto;
}

@mixin image($name) {
    display: inline-block;
    background: url('../images/' + $name) no-repeat 50% 50%;
    background-size: contain;
}

@import "service";
