<div class="lc-service">
    <div class="logo"></div>
    <div class="show-status"></div>
    <div class="chat">
        <div class="chat-wall">
            <ol>
               <li class="item self">skafjskajflskalkdfjlskajlfkslakjflkjaljfljlasjlkdlajfla</li> 
               <li class="item other">skafjdslfkjlaskdjlfjalsjf;llwijflkdja;lajfla</li> 
            </ol>
        </div>
        <div class="input">
            <input type="text" autofocus placeholder="直接输入问题...">
            <!-- <md-button class="md-raised md-primary"></md-button> -->
        </div>
    </div>
    <div class="footer">LeanCloud Service</div>
</div>
