<div class="lc-service">
    <div class="logo"></div>

    <!-- 登录部分 -->
    <md-content ng-if="!ui.isLogin" class="login down-box md-padding" layout="column">
        <div class="tooltip" layout="row" layout-align="space-around center">
            <a href="http://leancloud.cn/">首页</a>
            <a href="http://leancloud.cn/docs/">文档</a>
            <a href="http://blog.leancloud.cn/">Blog</a>
            <a href="http://forum.leancloud.cn/">社区</a>
            <a href="http://ticket.avosapps.com/">Ticket</a>
        </div>
        <md-input-container class="item" layout="column">
            <label>姓名</label>
            <input ng-model="user.name">
        </md-input-container>
        <md-input-container class="item" layout="column">
            <label>手机号码</label>
            <input ng-model="user.phone">
        </md-input-container>
        <!--
        <div class="item" layout="row">
            <md-button flex="30" class="button md-raised code-btn">获取验证码</md-button>
            <md-input-container flex layout="column">
                <label>验证码</label>
                <input ng-model="userData.name">
            </md-input-container>
        </div>
        -->
        <div class="item" layout="row" layout-align="center center">
            <md-select placeholder="选择你有问题的服务项目" ng-model="user.questionItem">
                <md-option value="1">JS SDK</md-option>
                <md-option value="2">JS 实时通信 SDK</md-option>
            </md-select>
        </div>
        <md-button class="login-btn item button md-raised md-primary" ng-click="login();">登录并咨询</md-button>        
    </md-content>
    <!-- 登录部分 end -->

    <!-- 客服聊天部分 -->
    <div ng-if="ui.isLogin" class="chat down-box">
        <div class="chat-wall">
            <ol>
               <li ng-repeat="item in user.msgList" class="item" 
               ng-class="{'self': item.self, 'other': item.other}">{{item.msg}}</li>
            </ol>
        </div>
        <div class="input" layout="row">
            <input type="text" autofocus placeholder="直接输入问题..." flex="80" ng-model="user.inputMsg">
            <md-button flex="18" class="button md-raised md-primary" ng-click="sendMsg();">发送</md-button>
        </div>
    </div>
    <!-- 客服聊天部分 end -->

    <div class="footer">LeanCloud Service</div>
</div>
